@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 90vh;
  background-color: #232323;
  font-family: "Lato", cursive;
  font-size: 15px;
  color: white;
  text-indent: 20px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px 10px;
  border-radius: 150px;
  border: 5px solid black;
}

button {
  height: 40px;
  width: 200px;
  border-radius: 100px;
  background-color: aliceblue;
  color: black;
  text-shadow: 1px 1px white;
  font-family: "Bungee", cursive;
  font-size: 15px;
  margin-left: 50px;
  cursor: pointer;
}

button:hover {
  color: orange;
  transition: 0.3s ease;
}

.navegation {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 30px 10px 50px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  color: #232323;
  border-radius: 50px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
