@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #232323;
    font-family: "Bungee", cursive;
    width: 100%;
    height: 90vh;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 10px;
}

button {
    height: 40px;
    width: 200px;
    border-radius: 100px;
    background-color: aliceblue;
    color: black;
    text-shadow: 1px 1px white;
    font-family: "Bungee", cursive;
    font-size: 15px;
    cursor: pointer;
}

.container {
    color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: red;
}

.imagens {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#reload {
    top: 30px;
    left: 30px;
}