@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 90vh;
  background-color: #232323;
  font-family: "Lato", cursive;
  font-size: 15px;
  color: white;
  text-indent: 20px;
}

span,
h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  color: black;
  text-indent: 0px;
  font-size: 18px;
}

span {
  margin-top: 0px;
  margin-left: 30px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px 10px;
  border-radius: 150px;
  border: 5px solid black;
}

button {
  height: 40px;
  width: 200px;
  border-radius: 100px;
  background-color: aliceblue;
  color: black;
  text-shadow: 1px 1px white;
  font-family: "Bungee", cursive;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  color: orange;
  transition: 0.3s ease;
}

.navegation {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 30px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #fefefe;
  color: #232323;
  border-radius: 50px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 95%;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid black;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 90%;
  object-fit: cover;
  border-radius: 0;
  border: 2px solid black;
}

.close {
  margin-top: -30px;
  margin-right: -10px;
  color: black;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  span,
  h2 {
    font-size: 10px;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .image-container {
    height: 30%;
  }

  .image-container img {
    margin-top: -25px;
    margin-left: -20px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 900px) {
  img {
    width: 300px;
    height: 300px;
  }

  .modal-content {
    height: 95%;
  }
}
