@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #232323;
    font-family: "Bungee", cursive;
    width: 100%;
    height: 90vh;
}